{% extends 'base.html' %}

{% block content %}
<hr>
<div class="container-fluid">
    <!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest2.jpg);">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <!-- Content -->
        <h5 class="h5 orange-text"><i class="fas fa-graduation-cap"></i> Flash Cards</h5>
        <h2 class="card-title h2 my-4 py-2">Ever used flashcards at home but you keep losing them ?</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Well welcome to FlashCards. Where you can access flashcards from different subjects.</p>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Feel free to post some flashcards of your own to help others as well</p>  
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</div>
{% endblock %}